<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Подтверждение Почты</h2>
    <p>Для завершения регистрации, пожалуйста, подтвердите вашу электронную почту, перейдя по следующей ссылке:</p>
    <p><a href="{{ confirmation_link }}">{{ confirmation_link }} Подтвердить почту</a></p>
    <p>Если вы не регистрировались на нашем сайте, проигнорируйте это сообщение.</p>
</body>
</html>
